clindermy/31ldvGOVKYkOkA3Y.json
{
  "updatedAt": "2025-10-06T14:50:43.783Z",
  "createdAt": "2025-09-25T23:20:27.095Z",
  "id": "31ldvGOVKYkOkA3Y",
  "name": "coda.io - Salva procedimentos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salva-dados-procedimento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -32
      ],
      "id": "23d616f8-92d4-4e8a-9faf-e6b0ff56af1c",
      "name": "Webhook",
      "webhookId": "9f290c11-bea4-45ed-aa25-991e66f6153b"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "procedimentos",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "Procedimento",
              "condition": "eq",
              "keyValue": "={{ $json.body.Procedimento }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        -32
      ],
      "id": "32379744-aef2-4dd1-afd0-c1a75c0e3e87",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2MT2liuXG5WwU8Vh",
          "name": "Supabase [ClinDermy] - clinica.clindermy@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e586f358-fe24-47db-b40f-b97ec8841ce7",
              "leftValue": "={{ $('Webhook').item.json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "96eb497b-61e0-4126-ba2b-85217301084d",
              "leftValue": "={{ $('Webhook').item.json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -32
      ],
      "id": "a81ec1c8-fa86-4d6f-a3f5-a8fa99bd816f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "procedimentos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Procedimento",
              "fieldValue": "={{ $('Webhook').item.json.body.Procedimento }}"
            },
            {
              "fieldId": "Description",
              "fieldValue": "={{ $('Webhook').item.json.body.Description }}"
            },
            {
              "fieldId": "Time_procedimento",
              "fieldValue": "={{ $('Webhook').item.json.body.Time_procedimento }}"
            },
            {
              "fieldId": "Cobra avaliação?",
              "fieldValue": "={{ $('Webhook').item.json.body['Cobra avaliação?'] }}"
            },
            {
              "fieldId": "Motivo da cobranca",
              "fieldValue": "={{ $('Webhook').item.json.body['Motivo da cobrança'] }}"
            },
            {
              "fieldId": "Preco Avaliacao",
              "fieldValue": "={{ $('Webhook').item.json.body.Preco_Avaliacao }}"
            },
            {
              "fieldId": "Cuidados Pre-avaliacao",
              "fieldValue": "={{ $('Webhook').item.json.body['Cuidados Pre-avaliacao'] }}"
            },
            {
              "fieldId": "Up-sell",
              "fieldValue": "={{ $('Webhook').item.json.body['Up-sell'] }}"
            },
            {
              "fieldId": "Reclamacoes que motivam o procedimento",
              "fieldValue": "={{ $('Webhook').item.json.body['Reclamacoes que motivam o procedimento'] }}"
            },
            {
              "fieldId": "Preco",
              "fieldValue": "={{ $('Webhook').item.json.body['Preço'] }}"
            },
            {
              "fieldId": "tempo_retorno_novo",
              "fieldValue": "={{ $('Webhook').item.json.body['Tempo retorno Procedimento'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -128
      ],
      "id": "e873c367-4f63-46ab-94d9-198b58ad8390",
      "name": "Update a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2MT2liuXG5WwU8Vh",
          "name": "Supabase [ClinDermy] - clinica.clindermy@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Create an empty array to store the result\nconst items = [];\n\n// Loop through each input item and add the UUID\nfor (const item of $input.all()) {\n  const newJson = {\n    ...item.json, // Keep all existing data\n    uuid: crypto.randomUUID(), // Add the new UUID property\n  };\n  items.push({ json: newJson });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        64
      ],
      "id": "64575868-88ee-41c5-9d6e-c391af93b341",
      "name": "Code"
    },
    {
      "parameters": {
        "tableId": "procedimentos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "uuid",
              "fieldValue": "={{ $json.uuid }}"
            },
            {
              "fieldId": "Procedimento",
              "fieldValue": "={{ $('Webhook').item.json.body.Procedimento }}"
            },
            {
              "fieldId": "Description",
              "fieldValue": "={{ $('Webhook').item.json.body.Description }}"
            },
            {
              "fieldId": "Time_procedimento",
              "fieldValue": "={{ $('Webhook').item.json.body.Time_procedimento }}"
            },
            {
              "fieldId": "Cobra avaliação?",
              "fieldValue": "={{ $('Webhook').item.json.body['Cobra avaliação?'] }}"
            },
            {
              "fieldId": "Motivo da cobranca",
              "fieldValue": "={{ $('Webhook').item.json.body['Motivo da cobrança'] }}"
            },
            {
              "fieldId": "Preco Avaliacao",
              "fieldValue": "={{ $('Webhook').item.json.body.Preco_Avaliacao }}"
            },
            {
              "fieldId": "Cuidados Pre-avaliacao",
              "fieldValue": "={{ $('Webhook').item.json.body['Cuidados Pre-avaliacao'] }}"
            },
            {
              "fieldId": "Up-sell",
              "fieldValue": "={{ $('Webhook').item.json.body['Up-sell'] }}"
            },
            {
              "fieldId": "Reclamacoes que motivam o procedimento",
              "fieldValue": "={{ $('Webhook').item.json.body['Reclamacoes que motivam o procedimento'] }}"
            },
            {
              "fieldId": "Preco",
              "fieldValue": "={{ $('Webhook').item.json.body['Preço'] }}"
            },
            {
              "fieldId": "tempo_retorno_novo",
              "fieldValue": "={{ $('Webhook').item.json.body['Tempo retorno Procedimento'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        64
      ],
      "id": "4dec9ca2-3b81-4d7c-a57d-af625340cc34",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "2MT2liuXG5WwU8Vh",
          "name": "Supabase [ClinDermy] - clinica.clindermy@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.clindermy.aimaze.com.br",
            "user-agent": "Coda-Server-Fetcher",
            "content-length": "823",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/json",
            "x-amzn-trace-id": "Root=1-68dc2e8e-045586082d10851ed88977e3;Parent=71891fbda06d14b0;Sampled=0",
            "x-fetcher-request-token": "djEtdjEtVzNpUURtVkYrRENlRVp4RzN2dk9UZz09LVA2MFlZVENFcHJMdG1FQ2EtWDZNeGdtR0ZrZktUSTJ6aHdvS1EvVzkybG9LRW9YQmpZanpDWSsvTzkxeVowRGlFWFc2MVgxSlRFMG44SFlpQUVaWmJ1dz09",
            "x-forwarded-for": "35.155.255.238",
            "x-forwarded-host": "webhook.clindermy.aimaze.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "35.155.255.238"
          },
          "params": {},
          "query": {},
          "body": {
            "uuid": "6ce20d4f-4c61-4e25-b643-e1b300b4c2eb",
            "Procedimento": "Aplicação de Botox",
            "Description": "Injeções de toxina botulínica que relaxam músculos faciais, suavizam rugas e previnem vincos profundos.",
            "Time_procedimento": "30",
            "Cobra avaliação?": false,
            "Motivo da cobrança": "",
            "Preco_Avaliacao": "",
            "Cuidados Pre-avaliacao": "Evitar ácidos e anti‑inflamatórios 48 h antes; não ingerir álcool.",
            "Up-sell": "Limpeza de pele ou revitalização facial",
            "Reclamacoes que motivam o procedimento": "Rugas de expressão na testa, glabela e pés‑de‑galinha",
            "Funil vendas": "Aplicação de Botox <> Patrícia Aparecida Gomes - #344, Aplicação de Botox <> 🌷Kátia Vanessa 🌷 - #353, Aplicação de Botox <> Alisson - #360, Aplicação de Botox <> João Reis - #366",
            "Preço": "",
            "Tempo retorno Procedimento": ""
          },
          "webhookUrl": "https://webhook.clindermy.aimaze.com.br/webhook/salva-dados-procedimento",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "84aa2ea5-672a-4cbe-ad56-fd71c7827b39",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-25T23:20:27.095Z",
      "createdAt": "2025-09-25T23:20:27.095Z",
      "role": "workflow:owner",
      "workflowId": "31ldvGOVKYkOkA3Y",
      "projectId": "EYYWtkWoAITGiejk"
    }
  ],
  "activeVersion": null,
  "tags": []
}