clindermy/OppqreM1rTFvEfjf.json
{
  "createdAt": "2025-11-25T14:17:57.780Z",
  "updatedAt": "2026-01-21T14:57:10.027Z",
  "id": "OppqreM1rTFvEfjf",
  "name": "Fluxo - Aviso de aniversários v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9d61270-1cd6-48be-aedb-c5b9ec885ee9",
              "leftValue": "={{ $json.property_data_aviso.start.toDateTime().format('yyyy-MM-dd') }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "5169dad0-b136-4191-a973-aaca94611576",
              "leftValue": "={{ $json.property_cliente_ativo_r[0] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        960
      ],
      "id": "76b0dca5-bdb6-4837-b5f8-ae5a57396d9a",
      "name": "A data de aniversário é hoje?"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        960
      ],
      "id": "3cb7581f-6b61-4c28-87c9-ec67c5eeecdb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        752
      ],
      "id": "92808a18-3f99-4bcf-9331-114d51633bd8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        864
      ],
      "id": "a50b8156-cc46-419b-9bdf-f5ee19e806a1",
      "name": "Wait",
      "webhookId": "7f498d31-9bcb-44e7-989e-2333c62709aa"
    },
    {
      "parameters": {
        "content": "## VERIFICA SE É ANIVERSÁRIO DO FUNCIONÁRIO E CRIA CONTEÚDO PARA O DIA DO ANIVERSÁRIO DELE.\n",
        "height": 1360,
        "width": 2420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        320
      ],
      "id": "2e4ff665-8eb1-4c7e-9c25-6c47b5661fdd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "14c16533-6e91-80dd-82e9-dcff8fd2f14c",
          "mode": "list",
          "cachedResultName": "DB de Aniversariantes",
          "cachedResultUrl": "https://www.notion.so/14c165336e9180dd82e9dcff8fd2f14c"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -64,
        960
      ],
      "id": "895497e0-aa8a-4b09-b90f-ee161dfe2ba2",
      "name": "Lista aniversariantes em DB de aniversariantes",
      "credentials": {
        "notionApi": {
          "id": "wABFptt7sxWQb17b",
          "name": "[Pixeo holding]"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=#Informações importantes:\nnome do aniversariante: {{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_nome }}\narroba do aniversariante: {{ $('A data de aniversário é hoje?').item.json.property_instagram }}\nempresa: {{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_business_name[0] }}\n\n\nVocê é um social media criador de conteúdo, com um único objetivo. Fazer posts de aniversário.\n\nVocê deve criar conteúdo para o designer criar o criativo.\n\nvocê deve entregar Titulo do criativo com A felicitação e o Nome. Exemplo: Parabéns, Ana.\n\n#Corpo da publicação\nEsse corpo é que sera utilizado para montar o criativo, então não faças textos muito grandes, o arquivo tera 1350x1080px, no corpo sera uma mensagem de felicitação e assine com o nome da empresa\n\n#leganda: Crie a legenda que irá na postagem do instagram, Felicitando o aniversariante e avisando sobre o aniversário dele, e demonstre carinho e respeito de uma forma profissional. Coloque rashtags e emojis. Coloque sempre na frente do nome do aniversariante e o arroba do aniversariante, caso o aniversariante nao tenha, então nao coloque, Coloque somente o nome. \n\nMe retorne:\n\ntitulo_criativo: Aqui deve ir o titulo\ncorpo_criativo: Aqui o corpo\nlegenda_criativo: Aqui a legenda"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        528,
        608
      ],
      "id": "18c08a80-5226-4d4a-9fb9-73cd72c6d6c2",
      "name": "Gera o criativo",
      "credentials": {
        "openAiApi": {
          "id": "edKvFZ4Je84J2ttE",
          "name": "openai - pixeo"
        }
      }
    },
    {
      "parameters": {
        "content": "## Verifica os aniversariantes e envia no grupo de avisos",
        "height": 700,
        "width": 1260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        448
      ],
      "id": "349cc7c7-c0b4-4a4c-ad27-65251edb47d1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "={{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_foto_aniversariante[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        592
      ],
      "id": "78c5bdff-c2b0-46d8-ba5d-39f179a22241",
      "name": "Baixa as imagens"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.baserow.io/api/user-files/upload-file/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token zXN9lFRoIjDR02BfU21any3QdjMBiHCc"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        592
      ],
      "id": "f1366d1b-9aba-4663-89aa-d91e7b9ae7f5",
      "name": "Envia imagem para o baserow [aimaze]"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "13216533-6e91-8032-b555-ec9affaf6ac9",
          "mode": "list",
          "cachedResultName": "DB de Creative Main",
          "cachedResultUrl": "https://www.notion.so/132165336e918032b555ec9affaf6ac9"
        },
        "title": "Publicação 🎂🎉",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Título do Criativo|rich_text",
              "textContent": "={{ $('Gera o criativo').item.json.message.content.titulo_criativo }}"
            },
            {
              "key": "Corpo do Criativo|rich_text",
              "textContent": "={{ $('Gera o criativo').item.json.message.content.corpo_criativo }}"
            },
            {
              "key": "Legenda do Criativo|rich_text",
              "textContent": "={{ $('Gera o criativo').item.json.message.content.legenda_criativo }}"
            },
            {
              "key": "Data Publicação|date",
              "date": "={{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_aniversario.start }}"
            },
            {
              "key": "Type|select",
              "selectValue": "=Stories"
            },
            {
              "key": "Empresa|relation",
              "relationValue": [
                "={{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_empresas[0] }}"
              ]
            },
            {
              "key": "[G]|checkbox",
              "checkboxValue": "={{ true }}"
            },
            {
              "key": "Seleção [D]|checkbox",
              "checkboxValue": "={{ true }}"
            },
            {
              "key": "Status|status",
              "statusValue": "=Ideia Pronta"
            },
            {
              "key": "Sugestão de Imagens|files",
              "fileUrls": {
                "fileUrl": [
                  {
                    "name": "=foto-{{ $('Lista aniversariantes em DB de aniversariantes').item.json.name }}",
                    "url": "={{ $json.url }}"
                  }
                ]
              }
            },
            {
              "key": "Criado por|select",
              "selectValue": "=Pixeo[AI]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1664,
        592
      ],
      "id": "67bf6cfc-381b-41f8-9131-45fdb3611ee6",
      "name": "Cria linha no DB de Creative Main",
      "credentials": {
        "notionApi": {
          "id": "wABFptt7sxWQb17b",
          "name": "[Pixeo holding]"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cria o post de aniversário e envia para o DB de Creative Main",
        "height": 700,
        "width": 900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        448
      ],
      "id": "c91333fe-4627-4f5d-8b05-7cdb5da753e8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "702a75fe-48b3-4f01-9b80-fbe4f6298ea4",
              "leftValue": "={{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_foto_aniversariante.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        608
      ],
      "id": "4eeb7620-c05d-4658-9b6e-39e48c0bfd41",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "13216533-6e91-8032-b555-ec9affaf6ac9",
          "mode": "list",
          "cachedResultName": "DB de Creative Main",
          "cachedResultUrl": "https://www.notion.so/132165336e918032b555ec9affaf6ac9"
        },
        "title": "Publicação 🎂🎉",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Título do Criativo|rich_text",
              "textContent": "={{ $('Gera o criativo').item.json.message.content.titulo_criativo }}"
            },
            {
              "key": "Corpo do Criativo|rich_text",
              "textContent": "={{ $('Gera o criativo').item.json.message.content.corpo_criativo }}"
            },
            {
              "key": "Legenda do Criativo|rich_text",
              "textContent": "={{ $('Gera o criativo').item.json.message.content.legenda_criativo }}"
            },
            {
              "key": "Postagem|date",
              "date": "={{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_aniversario.start }}"
            },
            {
              "key": "Type|select",
              "selectValue": "=Stories"
            },
            {
              "key": "Empresa|relation",
              "relationValue": [
                "={{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_empresas[0] }}"
              ]
            },
            {
              "key": "[G]|checkbox",
              "checkboxValue": "={{ true }}"
            },
            {
              "key": "Seleção [D]|checkbox",
              "checkboxValue": "={{ true }}"
            },
            {
              "key": "Status|status",
              "statusValue": "=Ideia Pronta"
            },
            {
              "key": "Criado por|select",
              "selectValue": "=Pixeo[AI]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1328,
        864
      ],
      "id": "33c2373b-e4f6-4ded-b3c6-37c8c45e272b",
      "name": "Cria linha no DB de Creative Main sem imagem",
      "credentials": {
        "notionApi": {
          "id": "wABFptt7sxWQb17b",
          "name": "[Pixeo holding]"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "pixeomkt",
        "remoteJid": "120363407135932152@g.us",
        "messageText": "=🎂 [Aviso de Aniversário] \n\n📢 Falta pouco!\n📅 Daqui a 7 dias temos\num aniversário especial!\n\n🎈 Aniversariante: {{ $json.name }}\n🗓️ Data do Aniversário: {{ $json.property_aniversario.start }}\n🏢 Empresa: {{ $json.property_business_name[0] }}\n\n--\n\nA arte já foi criada. Confira a sessão idea pronta.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        512,
        864
      ],
      "id": "d0a1d304-4683-4e8f-9f93-93beb8c3cfdb",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "DGotFs3JB8LD2oXX",
          "name": "wsapi.pixeo.com.br"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        64
      ],
      "id": "67192514-d610-4b3b-9727-b28e1ec88545",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Sepere pra mim a data de nascimento e coloque o ano como 2024, separe o nome, o cargo, o arroba do instagram\n\n{{ $json.aniversariantesempresa }}\n\n\nnome: aqui vai o nome e o sobrenome coloque somente o primeiro e o ultimo nome.\ndata_nasc: coloque aqui a data e complete com o ano de 2024 coloque no formato ISO 8601\ncargo:\narroba:"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        32,
        64
      ],
      "id": "dbe694d9-fbb3-4d90-8cde-fa87aad130a0",
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "edKvFZ4Je84J2ttE",
          "name": "openai - pixeo"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.pessoas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        64
      ],
      "id": "ab198f19-2e8c-425f-9c30-b6d9fbf62509",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "content": "## Atualizador de aniversariantes\n",
        "height": 280,
        "width": 1180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "ad9c6061-edb4-47e1-9385-cfc643ecdf6b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "14c16533-6e91-80dd-82e9-dcff8fd2f14c",
          "mode": "list",
          "cachedResultName": "DB de Aniversariantes",
          "cachedResultUrl": "https://www.notion.so/14c165336e9180dd82e9dcff8fd2f14c"
        },
        "title": "={{ $json.nome }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Data de Nascimento|date",
              "includeTime": false,
              "date": "={{ $json.data_nasc }}"
            },
            {
              "key": "Cargo|rich_text",
              "textContent": "={{ $json.cargo }}"
            },
            {
              "key": "Instagram|rich_text",
              "textContent": "={{ $json.arroba }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        544,
        64
      ],
      "id": "880799d2-dc99-4a47-987a-84c09d62994d",
      "name": "Cria novo aniversariante",
      "credentials": {
        "notionApi": {
          "id": "wABFptt7sxWQb17b",
          "name": "[Pixeo holding]"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae961a6b-f9e5-4273-b06d-cfc8ad24307d",
              "name": "aniversariantesempresa",
              "value": "=Jackson Arruda – Médico - @arruda_jaks 24/05\nGustavo Alves – Técnico em Enfermagem - @alvesgus_ 01/10\nMatheus Mendes Rego – Médico - 29/06 @_matheusmrego\nArthur César Silveira Freitas -  Médico 16/08\nRobert Willian Pereira de Almeida – Médico -  @robertwalmeida 10/10\nSergio Bernardo Torrico Moscoso – Médico - @drsergiobernardotorrico\nMayra Feitosa de Oliveira – Médico -  @mayrafo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        64
      ],
      "id": "2f16134a-960b-48df-bf49-fd600280923e",
      "name": "Coloque os contatos aqui"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9d61270-1cd6-48be-aedb-c5b9ec885ee9",
              "leftValue": "={{ $json.property_aniversario.start.toDateTime().format('yyyy-MM-dd') }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "966bdbbd-228f-4c38-a4ee-7e76c362403a",
              "leftValue": "={{ $('Lista aniversariantes em DB de aniversariantes').item.json.property_cliente_ativo_r[0] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        1264
      ],
      "id": "9421bc6e-7e46-4321-a08c-c576ab078a2c",
      "name": "A data de aniversário é hoje?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        1360
      ],
      "id": "cbf99259-6c29-470e-86e8-e12c99635312",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        1248
      ],
      "id": "ec3e3f04-1237-470e-8bc1-b035b9b1884d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        1360
      ],
      "id": "14384cd5-3c06-4693-a6f3-88a76c491551",
      "name": "Wait1",
      "webhookId": "f0ea4a2a-4a92-41ea-bdbc-ecd282e9b429"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "pixeomkt",
        "remoteJid": "120363407135932152@g.us",
        "messageText": "=🔥 [Aviso de Aniversário] \n\n📅 Hoje é:\num aniversário especial!\n\n🎈 Aniversariante: {{ $json.name }}\n🗓️ Data do Aniversário: {{ $json.property_aniversario.start }}\n🏢 Empresa: {{ $json.property_business_name[0] }}\n\n--\n\nNão esqueça de postar a arte.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1232,
        1360
      ],
      "id": "7f4cb7e8-2874-464c-a422-54127cc9be90",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "DGotFs3JB8LD2oXX",
          "name": "wsapi.pixeo.com.br"
        }
      }
    },
    {
      "parameters": {
        "content": "## Avisa o aniversário no dia.",
        "height": 420,
        "width": 1640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        1184
      ],
      "typeVersion": 1,
      "id": "ec1431f4-ba97-4c0b-9793-1adf10a50176",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "agenciapixeo@gmail.com",
        "subject": "=Lembrete de aniversário!| {{ $('A data de aniversário é hoje?1').item.json.name }} | {{ $('Loop Over Items1').item.json.property_business_name[0] }}",
        "message": "={{ $json.data.message.conversation }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        1360
      ],
      "id": "8f8dd299-0d67-4416-98b7-8149822354d6",
      "name": "Gmail",
      "webhookId": "35159e48-c7af-4cf8-bf17-0a18b654b87a",
      "credentials": {
        "gmailOAuth2": {
          "id": "51yyc7zbBPWTyuOj",
          "name": "Gmail agenciapixeo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "agenciapixeo@gmail.com",
        "subject": "=Lembrete de aniversário!| {{ $('Loop Over Items').item.json.name }} | {{ $('Loop Over Items').item.json.property_business_name[0] }}",
        "emailType": "text",
        "message": "={{ $json.data.message.conversation }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        688,
        864
      ],
      "id": "6752591a-69ea-4cf5-9684-91e309f6f970",
      "name": "Gmail1",
      "webhookId": "4e4c1d27-24cb-4452-8cde-5dc6fc6a6fca",
      "credentials": {
        "gmailOAuth2": {
          "id": "51yyc7zbBPWTyuOj",
          "name": "Gmail agenciapixeo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -224
      ],
      "id": "d23ac8cf-a707-423b-b703-9bc4924b10c6",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "joaoreiscefet@gmail.com",
        "subject": "=Aviso de erro!  {{ $json.workflow.name }} | {{ $json.execution.lastNodeExecuted }}",
        "message": "={{ $json.execution.error.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -208,
        -224
      ],
      "id": "7c1d1d23-b29d-452f-9aba-5112fe219781",
      "name": "Gmail2",
      "webhookId": "0c79e6dd-eba4-432e-b59a-adde14343ee6",
      "credentials": {
        "gmailOAuth2": {
          "id": "51yyc7zbBPWTyuOj",
          "name": "Gmail agenciapixeo"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aniversario-notion",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        2016
      ],
      "id": "874a30be-4663-4572-b444-95c74033e527",
      "name": "Webhook",
      "webhookId": "745a2055-a886-40ae-924a-c36527a98aac"
    }
  ],
  "connections": {
    "A data de aniversário é hoje?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A data de aniversário é hoje?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lista aniversariantes em DB de aniversariantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Gera o criativo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista aniversariantes em DB de aniversariantes": {
      "main": [
        [
          {
            "node": "A data de aniversário é hoje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera o criativo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa as imagens": {
      "main": [
        [
          {
            "node": "Envia imagem para o baserow [aimaze]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia imagem para o baserow [aimaze]": {
      "main": [
        [
          {
            "node": "Cria linha no DB de Creative Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Baixa as imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria linha no DB de Creative Main sem imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Coloque os contatos aqui",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Cria novo aniversariante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coloque os contatos aqui": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A data de aniversário é hoje?1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria linha no DB de Creative Main": {
      "main": [
        []
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d48e05fe-93df-46d9-a09a-9002da313528",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-11-25T14:17:57.780Z",
      "updatedAt": "2025-11-25T14:17:57.780Z",
      "role": "workflow:owner",
      "workflowId": "OppqreM1rTFvEfjf",
      "projectId": "USvPwHa2HxzGAWnT"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-03-20T13:51:49.803Z",
      "updatedAt": "2025-03-20T13:51:49.803Z",
      "id": "9FkFPw05WWJweXI0",
      "name": "produção"
    }
  ]
}